.item {
  padding: 10px;
  min-height: 100px;
  flex-basis: calc((100% - 45px) / 4);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  box-shadow: 3px 3px 3px 3px rgba(26, 35, 126, 0.7);
  background-color: #e3f2fd;
}

.subtitle {
  display: flex;
  align-items: center;
  font-weight: 500;
  gap: 5px;
}

.phone {
  padding-left: 3px;
  display: flex;
  align-items: center;
  font-weight: 500;
  gap: 7px;
}

.btn {
  padding: 0 15px;
  cursor: pointer;
  font-weight: 500;
  height: 30px;
  border-radius: 3px;
  box-shadow: 1px 1px 1px 1px rgba(26, 35, 126, 0.7);
  color: #1a237e;
  font-weight: 600;
  background-color: #e4ebec;
  transition: transform 250ms linear, box-shadow 250ms linear;

  &:hover,
  &:focus {
    transform: scale(0.97);
    box-shadow: none;
  }
}
